[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
common = { path = "../common" }
crossterm = "0.29"
serde = { version = "1.0", features = ["derive"]}
postcard = { version = "1.0", features = ["use-std"] }
